<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Automatos | An Test Automation Framework </title>

    <link href="/static/images/dragonfly-icon.png" rel="icon"><!-- Bootstrap Core CSS-->

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')--><!-- Morris Charts JavaScript--><!-- jQuery-->

    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
<div id="wrapper-wide">
    <!-- Navigation-->
    <div id="page-wrapper">
        <div class="container-fluid" id="divContainer">
            <!-- Page Heading-->


            <br/>
            <br/>

            <div class="input-group col-md-8 text-center">
                <input type="text" class="form-control" placeholder="" id="textInput">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" onclick="reverseAndMerge()"> Submit
                  </button>
                </div>
            </div>

            <br/>
            <br/>

            <div class="input-group col-md-8 text-center">
                <input type="text" class="form-control" placeholder="" id="textOutput">
            </div>

        </div>
    </div>
</div>

<script>
    function reverseAndMerge() {

        var inputElement = $("#textInput");
        var outputElement = $("#textOutput");

        $.get("/api/string/reverse_and_merge/" + inputElement.val(), function(response) {

            outputElement.val(response);

        });

    }
</script>
</body>
</html>